/*-------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, font, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

strong, b {
    font-weight: bold;
}

em {
    font-style: italic;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*-------------------------------------*/
html {
    width: 100%;
}

body {
    background: #f0f0f0;
    font-size: 16px;
    color: #fff;
}

.clr, #clr {
    clear: both;
}

* {
    box-sizing: border-box;
}

/*-------------------------------------   word-wrap: break-word;  */

@font-face {
    font-family: 'MavenProBlack';
    src: url('../fonts/Mavenproblack.woff2') format('woff2'),
    url('../fonts/Mavenproblack.woff') format('woff'),
    url('../fonts/Mavenproblack.ttf') format('truetype');
}

@font-face {
    font-family: 'MavenProBold';
    src: url('../fonts/Mavenprobold.woff2') format('woff2'),
    url('../fonts/Mavenprobold.woff') format('woff'),
    url('../fonts/Mavenprobold.ttf') format('truetype');
}

@font-face {
    font-family: 'MavenProMedium';
    src: url('../fonts/Mavenpromedium.woff2') format('woff2'),
    url('../fonts/Mavenpromedium.woff') format('woff'),
    url('../fonts/Mavenpromedium.ttf') format('truetype');
}

@font-face {
    font-family: 'MavenProRegular';
    src: url('../fonts/Mavenproregular.woff2') format('woff2'),
    url('../fonts/Mavenproregular.woff') format('woff'),
    url('../fonts/Mavenproregular.ttf') format('truetype');
}

/*-------------------------------------   fonts */

:root {
    --color-turquoise: #8ae2e2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'MavenProRegular', sans-serif;
}

.my-link {
    text-decoration: none;
}

.my-link:hover {
    text-decoration: none;
    color: var(--color-turquoise);
}

header {
    padding: 21px 29px 154px 30px;
    text-align: center;
    background: linear-gradient(rgba(23, 49, 83, .5), rgba(23, 49, 83, .5)), url("../img/top.jpg") 0 -35px no-repeat;
    background-size: cover;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 165px;
}

.top-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    margin-right: 30px;
}

.top-item .button-border {
    margin-right: 10px;
}

.header-menu {
    margin-left: 39px;
}

.menu-button {
    font-family: 'MavenProRegular', sans-serif;
    font-size: 16px;
    padding: 0 0 0 33px;
    line-height: 23px;
    height: 23px;
    background: url("../img/hamburger-menu-icon.png") center left no-repeat;
    text-align: end;
    cursor: pointer;
    color: #fff;
    border: none;
}

.register {
    display: flex;
    flex-direction: row;
}

.register-button {
    margin-left: 48px;
    color: #fff;
}

.button-border {
    text-transform: uppercase;
    color: #fff;
    font-family: 'MavenProBold', sans-serif;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 14px 16px 12px 16px;
    display: flex;
    cursor: pointer;
}

.button-border:hover {
    color: var(--color-turquoise);
    border-color: var(--color-turquoise);
}

header .title {
    font-family: 'MavenProBlack', sans-serif;
    font-size: 80px;
    text-align: center;
    color: var(--color-turquoise);
    font-weight: bold;
    margin-bottom: 35px;
}

.header-title-span {
    font-size: 58px;
    color: #fff;
}

header .text {
    font-family: 'MavenProRegular', sans-serif;
    font-size: 26px;
    text-align: center;
    line-height: 38px;
}

.header-p-span {
    color: var(--color-turquoise);
    font-family: 'MavenProBold', sans-serif;
}

.button {
    font-family: 'MavenProBold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    min-width: 274px;
    height: 70px;
    line-height: 70px;
    border-radius: 3px;
    background-color: #ff5151;
    margin-top: 40px;
    cursor: pointer;
    color: #fff;
    border: none;
}

.question {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    background: #fff;
    color: #000;
    mix-blend-mode: screen;
    margin-right: 9px;
}

.button-border:hover > .question {
    background: var(--color-turquoise);
}

.search-top {
    background-color: #eff7f7;
    padding: 35px 0;
}

.search-top .text {
    font-family: 'MavenProMedium', sans-serif;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.search-top .my-link {
    color: var(--color-turquoise);
    font-family: 'MavenProBold', sans-serif;
    font-size: 18px;
    text-decoration: underline;
}

.specialist {
    color: #000;
    padding: 105px 0 140px 0;
    background-color: #fff;
}

.specialist .title {
    font-family: 'MavenProBlack', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}

.specialist-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category-item {
    width: 266px;
    text-align: center;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-item .sub-title {
    margin-top: 45px;
    font-family: 'MavenProBold', sans-serif;
    font-size: 22px;
    min-height: 52px;
    margin-bottom: 20px;
}

.category-item .text {
    font-family: 'MavenProRegular', sans-serif;
}

.massage {
    background: url("../img/massage.png") top center no-repeat;
}

.nurses {
    background: url("../img/nurses.png") top center no-repeat;
}

.therapy {
    background: url("../img/therapy.png") top center no-repeat;
}

.specialist1 {
    background: url("../img/specialist1.png") top center no-repeat;
}

.how-it-works {
    width: 100%;
    background: url("../img/how-it-works.png") 0 -112px no-repeat;
    background-size: contain;
    padding-top: 540px;
}

.opeka {
    padding: 90px 166px 52px 60px;
    background-color: #66cfcf;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.opeka .title {
    font-family: 'MavenProBlack', sans-serif;
    font-size: 80px;
    margin-bottom: 70px;
}

.opeka-search {
    width: 48%;
    margin-top: 90px;
}

.opeka-search button {
    background-color: #66cfcf;
    padding: 0;
    min-width: 274px;
    height: 70px;
    line-height: 70px;
    justify-content: center;
    font-size: 18px;
}

.steps {
    width: 48%;
    padding-left: 150px;
}

.step {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 60px;
}

.step .sub-title {
    font-family: 'MavenProBold', sans-serif;
    font-size: 22px;
    margin-bottom: 19px;
    position: relative;
    max-width: 230px;
}

.step .text {
    width: 240px;
}

.step.step-left {
    align-items: flex-start;
    padding-left: 80px;
}

.step.step-left .sub-title::after {
    content: "";
    width: 170px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 13px;
    left: 236px;
}

.step.step-test .sub-title::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -129px;
    top: 7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 13px solid #fff;
}

.step.step-right {
    align-items: flex-end;
    background-position: top right;
    padding-right: 80px;
}

.step.step-right .sub-title::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -129px;
    top: 7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 13px solid #fff;
}

.step.step-select .sub-title::after {
    content: "";
    width: 170px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 13px;
    right: 236px;
}

.step-right .text {
    text-align: right;
}

.step-search {
    background: url("../img/seach.png") no-repeat;
    position: relative;
}

.step-search::after, .step-test::after {
    content: "";
    position: absolute;
    width: 90px;
    height: calc(100% + 57px);
    border: 2px solid;
    border-left: 0;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    top: 33px;
    right: -140px;
}

.step-select {
    background: url("../img/cursor.png") no-repeat;
    position: relative;
}

.step-select::after {
    content: "";
    position: absolute;
    width: 90px;
    height: calc(100% + 57px);
    border: 2px solid;
    border-right: 0;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    top: 33px;
    left: -140px;
}

.step-test {
    background: url("../img/clock.png") no-repeat;
    position: relative;
}

.step-pay {
    background: url("../img/coin.png") no-repeat;
}

.recalls {
    background: url("../img/recals-back.png") 0 -200px no-repeat;
    background-size: contain;
    padding: 540px 0 0 0;
    width: 100%;
}

.recalls .title {
    font-family: 'MavenProBlack', sans-serif;
    font-size: 36px;
    display: block;
    padding: 100px 0 80px 0;
    color: #0b2a37;
    background-color: #fff;
    text-align: center;
}

.recalls-list {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recall-item {
    color: #0b2a37;
    width: 410px;
    margin-bottom: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recall-item .text {
    background-color: #eff7f7;
    padding: 35px 20px;
    display: block;
    position: relative;
    margin-bottom: 23px;
    flex-grow: 2;
}

.recall-item .text::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    border-style: solid;
    border-width: 20px 0 0 30px;
    border-color: #eff7f7 transparent transparent transparent;
}

.people {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}

.people-info {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.people-info .sub-title {
    font-family: 'MavenProBold', sans-serif;
    margin-bottom: 3px;
}

.preference {
    width: 100%;
    background: url("../img/preference-bg1.png") 0 -112px no-repeat;
    background-size: cover;
    padding-top: 540px;
}

.preference-container {
    padding: 160px 160px 120px 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #005173 url("../img/logo-shape.png") bottom -112px right -112px no-repeat;
}

.preference-list {
    width: 480px;
}

.preference-list .text::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #8ae2e2;
    position: absolute;
    top: -10px;
}

.preference-list .text {
    line-height: 20px;
    position: relative;
    margin-bottom: 40px;
}

.preference-title {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preference-title .title {
    font-family: 'MavenProBlack', sans-serif;
    font-size: 80px;
    margin-bottom: 58px;
}

.preference-title button {
    width: 274px;
    min-height: 70px;
    padding: 25px 0;
    justify-content: center;
    font-size: 18px;
    background: transparent;
}

.call-us {
    padding: 50px 0 40px 0;
    background-color: #fff;
    color: #0b2a37;
    text-align: center;
}

.call-us .title {
    font-family: 'MavenProBlack', sans-serif;
    font-size: 36px;
    margin-bottom: 4px;
}

.call-us .text {
    font-family: 'MavenProMedium', sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
}

.call-us .my-link {
    padding: 22px 50px;
    font-size: 16px;
}

footer {
    background-color: #0b2a37;
    padding: 82px 43px 92px 100px;
    display: flex;
}

.footer-logo {
    width: 220px;
}

footer .title {
    font-family: 'MavenProBold', sans-serif;
    font-size: 22px;
}

footer .my-link {
    color: #fff;
    font-size: 16px;
    font-family: 'MavenProRegular', sans-serif;
}

.license {
    font-size: 14px;
}

.social {
    margin: 30px 0 15px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.social .my-link {
    display: block;
    width: 30px;
    height: 30px;
}

.social .title {
    max-width: 102px;
}

.in {
    background: url("../img/in-icon.png") center center no-repeat;
}

.fb {
    background: url("../img/fb-icon.png") center center no-repeat;
}

.twitter {
    background: url("../img/tw-icon.png") center center no-repeat;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 190px;
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-item .title {
    min-height: 55px;
    margin-bottom: 5px;
}

.footer-item .my-link {
    margin-bottom: 15px;
}

@media screen and (max-width: 1439px) {
    /* 1024<width<1439 main 1024*/
    header {
        padding: 30px 30px 100px 30px;
        background-position: 0;
    }

    .specialist {
        padding: 60px 0;
    }

    .category-item .sub-title {
        min-height: 55px;
    }

    .opeka {
        padding: 30px;
        justify-content: space-between;
    }

    .opeka .title {
        font-size: 50px;
    }

    .opeka-search {
        margin-top: 180px;
    }

    .recalls .title {
        padding: 50px 0;
    }

    .preference-container {
        padding: 60px;
    }

    .preference-list {
        width: 48%;
    }

    .preference-title {
        width: 48%;
        text-align: center;
    }

    .preference-title button {
        margin: 0 auto;
    }

    .recalls, .preference {
        padding-top: 400px;
    }

    .step::after, .step .sub-title::before, .step .sub-title::after {
        display: none;
    }

    .steps {
        padding-left: 0;
    }

    footer {
        padding: 82px 30px 92px 60px;
    }

}

@media screen and (max-width: 1023px) {
    /* 768<width<1023 main 768*/
    header {
        padding: 30px;
    }

    .top {
        margin-bottom: 60px;
    }

    .top-item .my-link {
        display: none;
    }

    .header-logo {
        margin-right: 0;
    }

    header .title {
        font-size: 50px;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .header-title-span {
        font-size: 30px;
    }

    header .text br {
        display: none;
    }

    .specialist {
        padding: 40px 0;
    }

    .specialist .title {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .specialist-categories {
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;
    }

    .category-item {
        margin-bottom: 35px;
    }

    .opeka {
        padding: 20px;
    }

    .call-us {
        padding: 30px 0;
    }

    footer {
        flex-direction: column-reverse;
    }

    .footer-left, .footer-right {
        width: 100%;
    }

    .footer-left {
        margin-top: 30px;
        text-align: center;
    }

    .social {
        margin-left: auto;
        margin-right: auto;
    }

    .how-it-works {
        padding-top: 340px;
    }

    .recalls {
        padding-top: 270px;
    }

    .preference {
        padding-top: 300px;
        background-position: -180px -150px;
    }
}

@media screen and (max-width: 767px) {
    /* 480<width<767 main 480*/
    .search-top {
        padding: 15px 0;
    }

    .opeka {
        flex-direction: column-reverse;
    }

    .opeka-search {
        margin-top: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .opeka-search button {
        margin: 0 auto;
    }

    .steps {
        width: 100%;
    }

    .step {
        margin-bottom: 30px;
    }

    .preference-container {
        flex-direction: column;
        padding: 30px 20px;
    }

    .preference-list {
        width: 100%;
    }

    .preference-title {
        width: 100%;
    }

    .preference-title .title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .call-us .title {
        font-size: 30px;
    }

    .call-us .my-link {
        padding: 22px 10px;
    }

    footer {
        padding: 20px;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .how-it-works {
        background-position: top;
        padding-top: 250px;
    }

    .recalls {
        padding-top: 180px;
        background-position: 0 -100px;
    }

    .preference {
        padding-top: 250px;
        background-position: -430px -180px;
    }
}

@media screen and (max-width: 479px) {
    header {
        padding: 20px 0;
        background-position: -280px 0;
    }

    .top {
        flex-direction: column;
    }

    .header-menu {
        margin-top: 20px;
    }

    .search-top .my-link {
        display: block;
        margin-top: 5px;
    }

    .opeka {
        padding: 20px 5px;
    }

    .opeka-search .title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .how-it-works {
        padding-top: 200px;
    }

    .recalls {
        background-position: 0 -30px;
    }

    .preference {
        background-position: -750px -300px;
    }

    .recall-item {
        width: 98%;
    }

    .call-us {
        padding: 20px 5px;
    }
}
